<html>
<head>
    <title>Suma de de números</title>
</head>
<body>
    <h1>Programacion web</h1>
    <h2>Adan Aguilar</h2>
    @RenderBody()
    <footer>Fecha:@DateTime.Now.ToShortDateString()</footer>
</body>
</html>
